.navbar{
    background-color: #a7e1f3;
    position: relative;
}
.navbar-brand {
    padding-top: 15px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #chicken{
      background-color: aquamarine;
  }

  .menu-item{
      color: azure;
      font-weight: bold;
      font-size: 1.2em;
  }
  .menu-item:hover{
    color: azure;
    font-weight: bold;
    font-size: 1.1em;
}
  .content{
      margin: 5px 25px 5px 25px;
  }
  #nav-list a{
      border: 1px solid;
  }
  #nav-list a:nth-child(2) {
    border-top: 0;
    border-bottom: 0;
  }